<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="metadata">
                <f:metadata>
                    <f:viewParam name="id" value="#{editShoppingListBB.id}"/>  
                    <f:viewParam name="name" value="#{editShoppingListBB.name}"/> 
                </f:metadata>
            </ui:define>
            <ui:define name="title">#{editShoppingListBB.name}</ui:define>
            <ui:define name="content">
                <script>
                    $(function () {
                        $("[id='form:itemnames']").autocomplete({
                            source: ${recipesMainBB.itemNames}
                        });
                    });
                </script>
                <div class="container">
                    <div class="page-header">
                        <div class="jumbotron">
                            <div class="panel panel-warning">
                                <!-- Default panel contents -->
                                <div class="panel-heading">
                                    <h2>
                                        <h:outputText value="#{editShoppingListBB.name}" />
                                    </h2>
                                </div>
                                #{editShoppingListBB.init()}
                                <h:form id="form" class="form-horizontal">
                                    <p:messages autoUpdate="true"/>
                                    <h:panelGrid columns="2" class="table">
                                        <h:outputLabel value="Name" class="col-sm-2 control-label"/>
                                        <p:inplace editor="false" emptyLabel="Enter shopping list's name">
                                            <h:outputText class="form-control" value="#{editShoppingListBB.name}"/>
                                        </p:inplace>
                                    </h:panelGrid>
                                    <h:panelGrid columns="4" class="table ">
                                        <h:column>
                                            <p:inputText p:placeholder="Enter the item name" class="form-control" 
                                                         id="itemnames" value="#{editShoppingListBB.newItemName}"  />
                                        </h:column>
                                        <h:column>
                                            <p:inputText p:placeholder="Enter the item amount" class="form-control" 
                                                         value="#{editShoppingListBB.newItemAmount}" />
                                        </h:column>
                                        <h:column>
                                            <h:selectOneMenu class="btn-lg" id="console" value="#{editShoppingListBB.newItemUnit}">
                                                <f:selectItem itemLabel="Choose the amount's unit" itemDisabled="true" />
                                                <f:selectItem itemValue="kg" />
                                                <f:selectItem itemValue="g" />
                                                <f:selectItem itemValue="mg" />
                                                <f:selectItem itemLabel="No Unit" itemValue=" "/>
                                                <f:selectItem itemValue="L" />
                                                <f:selectItem itemValue="dL" />
                                                <f:selectItem itemValue="mL" />
                                            </h:selectOneMenu>
                                        </h:column>
                                        <h:column>
                                            <p:commandButton value="Add Item" icon="ui-icon-plusthick"
                                                             actionListener="#{editShoppingListBB.addItem()}" update="items"/>
                                        </h:column>
                                    </h:panelGrid>
                                    <div>
                                        <p:dataTable id="items" var="item" value="#{editShoppingListBB.itemlist}" editable="true">
                                            <p:columnGroup type="header">
                                                <p:row>
                                                    <p:column colspan="1" rowspan="1" headerText="Name" />
                                                    <p:column colspan="1" rowspan="1" headerText="Amount" />
                                                    <p:column colspan="1" rowspan="1" headerText="Unit" />
                                                    <p:column colspan="1" rowspan="1" />
                                                </p:row>
                                            </p:columnGroup>
                                            <p:column>
                                                <h:outputText value="#{item.name}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{editShoppingListBB.getAmount(item)}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{editShoppingListBB.getUnit(item)}" />
                                            </p:column>
                                            <p:column>
                                                <p:commandButton 
                                                    icon="ui-icon-trash" 
                                                    value="Remove" 
                                                    actionListener="#{editShoppingListBB.removeItem(item)}" update="items" 
                                                    />  
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                    <div class="btn-toolbar" style="margin:2em 0em " >
                                        <div class="col-md-7 col-md-offset-4">                                        
                                            <div class="btn-group">
                                                <p:commandButton value="Save Changes" icon="ui-icon-disk"
                                                                 actionListener="#{editShoppingListCtrl.update()}" />
                                            </div>
                                            <div class="btn-group">
                                                <p:button icon="ui-icon-cancel" value="Back" outcome="shoppinglists" />
                                            </div>
                                        </div>
                                    </div> 
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
