<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="title">MyShoppingLists</ui:define>
            <ui:define name="content">
                <div class="container">
                    <div class="page-header">
                        <div class="jumbotron">
                            <p class="lead">User's Shopping lists</p>
                            <h:form>
                                <p:dataTable id="lists" var="list" value="#{shoppingListsBB.getList()}">
                                    <p:column>
                                        <h:outputText value="#{list.name}"/>
                                    </p:column>
                                    <p:column>
                                        <p:button value="Details" icon="ui-icon-info" outcome="editshoppinglist">
                                            <f:param name="id" value="#{list.id}"/>  
                                            <f:param name="name" value="#{list.name}"/> 
                                        </p:button>
                                    </p:column>
                                    <p:column>
                                        <p:commandButton 
                                            icon="ui-icon-close" 
                                            value="Remove" 
                                            actionListener="#{editShoppingListCtrl.removeList(list)}" update="lists" 
                                            /> 
                                    </p:column>
                                </p:dataTable>
                                <p:commandButton 
                                    value="Generate List" 
                                    actionListener="#{editShoppingListCtrl.generate()}" update="lists" 
                                    />
                            </h:form>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
