<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="title">Create Recipe</ui:define>
            <ui:define name="content">
                <script>
                    $(function () {
                        $("[id='form:itemnames']").autocomplete({
                            source: ${recipesMainBB.itemNames}
                        });
                    });
                </script>
                <div class="container">
                    <div class="col-md-10">
                        <div class="jumbotron">
                            <div class="panel panel-warning">
                                <!-- Default panel contents -->
                                <div class="panel-heading"><h2>New Recipe</h2></div>   
                                <p class="col-sm-offset-1 text-info" style="margin:1em">First, name your recipe and input a 
                                    description and the cooking instructions.</p>
                                <h:form id="form">
                                    <p:messages autoUpdate="true"  />
                                    <h:panelGrid columns="2" class="table" frame="none">
                                        <p:outputLabel value="Name" class="col-sm-2 control-label"/>
                                        <p:inputText class="form-control" value="#{addRecipeBB.name}"
                                                     p:placeholder="Enter a name for your recipe">
                                        </p:inputText>
                                        <h:outputLabel value="Description" class="col-sm-2 control-label"/>
                                        <p:inputTextarea class="form-control" value="#{addRecipeBB.description}"
                                                         p:placeholder="Enter a small description for your recipe"/>
                                        <h:outputLabel value="Instructions" class="col-sm-2 control-label"/>
                                        <p:inputTextarea class="form-control" value="#{addRecipeBB.instructions}"
                                                         p:placeholder="Enter the instructions for your recipe"/>
                                        <h:outputLabel value="Portions" class="col-sm-2 control-label"/>
                                        <p:inputText class="form-control" value="#{addRecipeBB.portions}"
                                                     p:placeholder="Enter the portions your recipe is designed for"/>
                                    </h:panelGrid>
                                    <div>
                                        <p class="col-sm-offset-1 text-info" style="margin:1em 1em">Now, name the ingredients of your 
                                            recipe the amounts of them, and choose the corresponding unit of that amount.</p>
                                        <h:panelGrid columns="4" class="table ">
                                            <h:column>
                                                <p:inputText p:placeholder="Enter the item name" class="form-control" 
                                                             id="itemnames" value="#{addRecipeBB.newItemName}"  />
                                            </h:column>
                                            <h:column>
                                                <p:inputText p:placeholder="Enter the item amount" class="form-control" 
                                                             value="#{addRecipeBB.newItemAmount}" />
                                            </h:column>
                                            <h:column>
                                                <h:selectOneMenu class="btn-lg" id="console" value="#{addRecipeBB.newItemUnit}">
                                                    <f:selectItem itemLabel="Choose the amount's unit" itemDisabled="true" />
                                                    <f:selectItem itemValue="kg" />
                                                    <f:selectItem itemValue="g" />
                                                    <f:selectItem itemValue="mg" />
                                                    <f:selectItem itemLabel="No Unit" itemValue=" "/>
                                                    <f:selectItem itemValue="L" />
                                                    <f:selectItem itemValue="dL" />
                                                    <f:selectItem itemValue="mL" />
                                                </h:selectOneMenu>
                                            </h:column>
                                            <h:column>
                                                <p:commandButton value="Add Item" icon="ui-icon-plusthick"
                                                                 actionListener="#{addRecipeBB.addItem()}" update="items"/>
                                            </h:column>
                                        </h:panelGrid>
                                    </div>
                                    <div>
                                        <p:dataTable id="items" var="item" value="#{addRecipeBB.itemlist}" editable="true">
                                            <p:columnGroup type="header">
                                                <p:row>
                                                    <p:column colspan="1" rowspan="1" headerText="Name" />
                                                    <p:column colspan="1" rowspan="1" headerText="Amount" />
                                                    <p:column colspan="1" rowspan="1" headerText="Unit" />
                                                    <p:column colspan="1" rowspan="1" />
                                                </p:row>
                                            </p:columnGroup>
                                            <p:column>
                                                <h:outputText value="#{item.name}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{addRecipeBB.getAmount(item)}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{addRecipeBB.getUnit(item)}" />
                                            </p:column>
                                            <p:column>
                                                <p:commandButton 
                                                    icon="ui-icon-trash" 
                                                    value="Remove" 
                                                    actionListener="#{addRecipeBB.removeItem(item)}" update="items" 
                                                    />  
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                    <div class="btn-toolbar" style="margin:2em 0em " >
                                        <div class="col-md-7 col-md-offset-4">
                                            <div class="btn-group">
                                                <p:commandButton value="Save" icon="ui-icon-disk" action="#{addRecipeCtrl.save()}" 
                                                                 actionListener="#{addRecipeBB.actionListener}">
                                                </p:commandButton>
                                            </div>
                                            <div class="btn-group">
                                                <p:commandButton icon="ui-icon-closethick"
                                                                 value="Clear" type="reset"/>

                                            </div>
                                            <div class="btn-group">
                                                <p:commandButton value="Cancel" immediate="true"
                                                                 icon="ui-icon-cancel"
                                                                 action="recipesMain?faces-redirect=true"></p:commandButton>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
