<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="id" value="#{editRecipeBB.id}"  />
                <f:viewParam name="name" value="#{editRecipeBB.name}"  />
                <f:viewParam name="description" value="#{editRecipeBB.description}"  />
                <f:viewParam name="instructions" value="#{editRecipeBB.instructions}"  />
                <f:viewParam name="portions" value="#{editRecipeBB.portions}"  />
                <f:viewParam name="author" value="#{editRecipeBB.author}" />
                <f:viewParam name="prev" value="#{editRecipeBB.prev}" />
            </f:metadata>
        </ui:define>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="title">#{editRecipeBB.name}</ui:define>
            <ui:define name="content">
                <script>
                    $(function () {
                        $("[id='form:itemnames']").autocomplete({
                            source: ${recipesMainBB.itemNames}
                        });
                    });
                </script>
                <div class="container">
                    <div class="col-md-10">
                        <div class="jumbotron">
                            #{editRecipeBB.init()}
                            <div class="panel panel-warning">
                                <!-- Default panel contents -->
                                <div class="panel-heading"><h2>#{editRecipeBB.name}</h2></div>  
                                <h:form id="form">
                                    <p:messages autoUpdate="true"/>
                                    <h:inputHidden value="#{editRecipeBB.id}" />
                                    <h:panelGrid columns="2" class="table">
                                        <h:outputLabel value="Name" class="col-sm-2 control-label"/>
                                        <p:inplace editor="true" emptyLabel="Enter recipe's name">
                                            <p:inputText class="form-control" value="#{editRecipeBB.name}"/>
                                        </p:inplace>
                                        <h:outputLabel value="Description" class="col-sm-2 control-label"/>
                                        <p:inplace editor="true" emptyLabel="Enter recipe's description">
                                            <p:inputTextarea class="form-control" value="#{editRecipeBB.description}"/>
                                        </p:inplace>
                                        <h:outputLabel value="Instructions" class="col-sm-2 control-label"/>
                                        <p:inplace editor="true" emptyLabel="Enter recipe's instructions">
                                            <p:inputTextarea class="form-control" value="#{editRecipeBB.instructions}"/>
                                        </p:inplace>
                                        <h:outputLabel value="Portions" class="col-sm-2 control-label"/>
                                        <p:inplace editor="true" emptyLabel="Enter recipe's portions">
                                            <p:inputText class="form-control" value="#{editRecipeBB.portions}"/>
                                        </p:inplace>
                                    </h:panelGrid>
                                    <h:panelGrid columns="4" class="table">
                                        <h:column>
                                            <p:inputText id="itemnames" value="#{editRecipeBB.newItemName}"  />
                                        </h:column>
                                        <h:column>
                                            <p:inputText value="#{editRecipeBB.newItemAmount}" />
                                        </h:column>
                                        <h:column>
                                            <h:selectOneMenu class="btn-lg" id="console" value="#{editRecipeBB.newItemUnit}">
                                                <f:selectItem itemLabel="Choose the amount's unit" itemDisabled="true" />
                                                <f:selectItem itemValue="kg" />
                                                <f:selectItem itemValue="g" />
                                                <f:selectItem itemValue="mg" />
                                                <f:selectItem itemLabel="No Unit" itemValue=" "/>
                                                <f:selectItem itemValue="L" />
                                                <f:selectItem itemValue="dL" />
                                                <f:selectItem itemValue="mL" />
                                            </h:selectOneMenu>
                                        </h:column>
                                        <h:column>
                                            <p:commandButton value="Add Item" icon="ui-icon-plusthick"
                                                             actionListener="#{editRecipeBB.addItem()}" update="items"/>
                                        </h:column>
                                    </h:panelGrid>
                                    <p:dataTable id="items" var="item" value="#{editRecipeBB.itemlist}" editable="true">
                                        <p:columnGroup type="header">
                                            <p:row>
                                                <p:column colspan="1" rowspan="1" headerText="Name" />
                                                <p:column colspan="1" rowspan="1" headerText="Amount" />
                                                <p:column colspan="1" rowspan="1" headerText="Unit" />
                                                <p:column colspan="1" rowspan="1" />
                                            </p:row>
                                        </p:columnGroup>
                                        <p:column>
                                            <h:outputText value="#{item.name}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{editRecipeBB.getAmount(item)}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{editRecipeBB.getUnit(item)}" />
                                        </p:column>
                                        <p:column>
                                            <p:commandButton 
                                                icon="ui-icon-trash" 
                                                value="Remove" 
                                                actionListener="#{editRecipeBB.removeItem(item)}" update="items" 
                                                />  
                                        </p:column>
                                    </p:dataTable>
                                    <div class="btn-toolbar" style="margin:2em 0em " >
                                        <div class="col-md-7 col-md-offset-4">
                                            <p:commandButton icon="ui-icon-disk" value="Save Changes" actionListener="#{editRecipeCtrl.update()}"/>
                                            <p:button icon="ui-icon-cancel" value="Back" outcome="#{editRecipeBB.prev}" />
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
