<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="title">Recipes</ui:define>
            <ui:define name="content">
                <div class="container">
                    <div class="page-header">
                        <div class="jumbotron">
                            <p class="lead">Recipes</p>
                            <h:form>
                                <h:panelGroup id="recipesPanel" >
                                    <div class="row">

                                        <ui:repeat var="recipe" value="#{recipesMainBB.getList()}">
                                            <div class="col-sm-6 col-md-4">
                                                <div class="thumbnail">
                                                    <div class="caption">
                                                        <h:inputHidden value="#{recipe.id}" />
                                                        <p><h:outputText value="#{recipe.name}"/></p>
                                                        <h:outputText value="#{recipe.description}"/>
                                                        <p>                                            
                                                            <div class="btn-group">
                                                                <p:button value="Details" icon="ui-icon-info" outcome="viewrecipe">
                                                                    <f:param name="id" value="#{recipe.id}"/>
                                                                    <f:param name="author" value="#{recipe.owner.id}"/>
                                                                    <f:param name="name" value="#{recipe.name}"/>
                                                                    <f:param name="description" value="#{recipe.description}"/>
                                                                    <f:param name="instructions" value="#{recipe.instructions}"/>
                                                                    <f:param name="portions" value="#{recipe.portions}"/>   
                                                                    <f:param name="prev" value="recipes" />
                                                                </p:button>
                                                                <p:button value="Edit" icon="ui-icon-gear" outcome="editrecipe" 
                                                                          rendered="#{recipesMainBB.isOwner(recipe.owner.id)}">
                                                                    <f:param name="id" value="#{recipe.id}"/>
                                                                    <f:param name="author" value="#{recipe.owner.id}"/>
                                                                    <f:param name="name" value="#{recipe.name}"/>
                                                                    <f:param name="description" value="#{recipe.description}"/>
                                                                    <f:param name="instructions" value="#{recipe.instructions}"/>
                                                                    <f:param name="portions" value="#{recipe.portions}"/>    
                                                                    <f:param name="prev" value="recipes" />
                                                                </p:button>
                                                            </div>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </ui:repeat>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
