<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="title">#{viewRecipeBB.name}</ui:define>
            <ui:define name="metadata">
                <f:metadata>
                    <f:viewParam name="id" value="${viewRecipeBB.id}"  />
                    <f:viewParam name="name" value="${viewRecipeBB.name}"  />
                    <f:viewParam name="description" value="${viewRecipeBB.description}"  />
                    <f:viewParam name="instructions" value="${viewRecipeBB.instructions}"  />
                    <f:viewParam name="portions" value="${viewRecipeBB.portions}"  />
                    <f:viewParam name="author" value="${viewRecipeBB.author}" />
                </f:metadata>
            </ui:define>
            <ui:define name="content">
                <div class="container">
                    <div class="col-md-9">
                        <div class="jumbotron">                            
                            <div class="panel panel-warning">
                                <!-- Default panel contents -->
                                <div class="panel-heading"><h2>#{viewRecipeBB.name}</h2></div>  
                                <h:form>
                                    <h:inputHidden value="#{viewRecipeBB.id}" />
                                    <h:panelGrid columns="2" class="table">

                                        <h:outputLabel value="Name" class="col-sm-2 control-label"/>
                                        <p:inplace editor="false">
                                            <h:outputText class="form-control" value="#{viewRecipeBB.name}"/>
                                        </p:inplace>
                                        <h:outputLabel value="Description" class="col-sm-2 control-label"/>
                                        <p:inplace editor="false">
                                            <p:inputTextarea readonly="true" class="form-control" value="#{viewRecipeBB.description}"/>
                                        </p:inplace>
                                        <h:outputLabel value="Instructions" class="col-sm-2 control-label"/>
                                        <p:inplace editor="false">
                                            <p:inputTextarea readonly="true" class="form-control" value="#{viewRecipeBB.instructions}"/>
                                        </p:inplace>
                                        <h:outputLabel value="Portions" class="col-sm-2 control-label"/>
                                        <p:inplace editor="false">
                                            <h:outputText class="form-control" value="#{viewRecipeBB.portions}"/>
                                        </p:inplace>

                                    </h:panelGrid>
                                    <p:dataTable id="items" var="item" value="#{viewRecipeBB.items}" editable="false">
                                        <p:columnGroup type="header">
                                            <p:row>
                                                <p:column colspan="1" rowspan="1" headerText="Name" />
                                                <p:column colspan="1" rowspan="1" headerText="Amount" />
                                                <p:column colspan="1" rowspan="1" headerText="Unit" />
                                            </p:row>
                                        </p:columnGroup>
                                        <p:column>
                                            <h:outputText value="#{item.name}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{viewRecipeBB.getAmount(item)}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{viewRecipeBB.getUnit(item)}" />
                                        </p:column>
                                    </p:dataTable>
                                    <div class="btn-toolbar" style="margin:2em 0em " >
                                            <div class="btn-group">
                                                <p:commandButton id="favorite" value="#{viewRecipeBB.isFavorite()}" 
                                                                 action="#{viewRecipeBB.favorite()}" icon="ui-icon-heart" update="favorite"/>
                                            </div>
                                            <div class="btn-group">
                                                <h:selectOneMenu class="btn btn-lg" value="#{viewRecipeBB.selectedId}">
                                                    <f:selectItems value="${shoppingListsBB.list}" var="list"
                                                                   itemLabel="#{list.name}" itemValue="#{list.id}" />                                                                                    
                                                </h:selectOneMenu>
                                                <p:commandButton id="addToList" value="Add to list!" icon="ui-icon-check"
                                                                 actionListener="#{editShoppingListCtrl.addRecipeToList(viewRecipeBB.id, viewRecipeBB.selectedId)}" />
                                            </div>
                                            <div class="btn-group">
                                                <p:commandButton value="Back" immediate="true" icon="ui-icon-cancel"
                                                                 action="recipesMain?faces-redirect=true"></p:commandButton>
                                            </div>
                                        </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>