<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Edit Info</title>
    </h:head>

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content">
                <div class="container jumbotron">
                    <div class="page-header">
                        <div class="col-md-3">
                            <ul class="nav nav-pills">
                                <li class="active"><h:link outcome="editInfo.xhtml">Account Settings</h:link></li>
                                <li><h:link outcome="editPassword.xhtml">Change Password</h:link></li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <h:form>
                                <p:messages autoUpdate="true"/>
                                <div class="row">
                                    <h:panelGrid columns="2" class="table">
                                        <h:outputLabel value="Name" />
                                        <p:inplace editor="false">
                                            <h:outputText class="form-control" value="#{editCSUserBB.name}">  
                                            </h:outputText>
                                        </p:inplace>
                                        <h:outputLabel value="Address" />
                                        <p:inplace editor="true" emptyLabel="Enter your street address">
                                            <h:inputText class="form-control" value="#{editCSUserBB.street}"> 
                                            </h:inputText>
                                        </p:inplace>
                                        <h:outputLabel value="Zipcode"/>
                                        <p:inplace editor="true" emptyLabel="Enter your area zipcode">
                                            <h:inputText class="form-control" value="#{editCSUserBB.zipcode}"
                                                         validatorMessage="Zipcode must consist of 5 numbers"> 
                                                <f:validateLength minimum="5" maximum="5"/>
                                            </h:inputText>
                                        </p:inplace>
                                    </h:panelGrid>
                                </div>
                                <div class="btn-toolbar" style="margin:2em 0em " >
                                    <div class="btn-group">
                                        <p:commandButton value="Save Changes" action="${editCSUserCtrl.update()}" 
                                                         icon='ui-icon-disk' />
                                    </div>
                                    <div class="btn-group">
                                        <p:button value="Cancel" icon="ui-icon-cancel" outcome="shopperinfo"/>
                                    </div>
                                </div>
                            </h:form>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
