<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Edit Info</title>
    </h:head>

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content">
                <div class="container jumbotron">
                    <div class="page-header">
                        <div class="col-md-3">
                            <ul class="nav nav-pills">
                                <li><h:link outcome="editInfo.xhtml">Account Settings</h:link></li>
                                <li class="active"><h:link outcome="editPassword.xhtml">Change Password</h:link></li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h:form>
                                <p:messages autoUpdate="true"/>
                                <div class="row">
                                    <h:panelGrid columns="2" class="table">
                                        <h:outputLabel value="Input your old password" />
                                        <h:inputSecret class="form-control" value="#{editCSUserBB.password}" >
                                        </h:inputSecret>
                                        <h:outputLabel value="Input your new password" />
                                        <h:inputSecret class="form-control" value="#{editCSUserBB.newPassword}" 
                                                       validatorMessage="Your password must be 4-16 characters" >
                                            <f:validateLength minimum="4" maximum="16"/>
                                        </h:inputSecret>
                                        <h:outputLabel  value="Retype your new password" />
                                        <h:inputSecret class="form-control" value="#{editCSUserBB.newPassword2}" 
                                                       validatorMessage="Your password must be 4-16 characters">
                                            <f:validateLength minimum="4" maximum="16"/>
                                        </h:inputSecret>
                                    </h:panelGrid>
                                </div>
                                <div class="btn-toolbar" style="margin:2em 0em " >
                                    <div class="btn-group">
                                        <p:commandButton value="Save Changes" action="${editCSUserCtrl.updatePass()}" 
                                                         icon='ui-icon-disk' />
                                    </div>
                                    <div class="btn-group">
                                        <p:button value="Cancel" icon="ui-icon-cancel" outcome="shopperinfo"/>
                                    </div>
                                </div>

                            </h:form>
                        </div>

                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
