<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>My Profile</title>
    </h:head>

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content">
                <div class="container jumbotron">
                    <div class="page-header">
                        <p>These are the details you registered to CrowdShopper!</p>

                        <div class="col-md-6">
                            <h:form>
                                <h:inputHidden value="#{editCSUserBB.id}" />
                                <div class="row">
                                    <h:panelGrid columns="2" class="table">
                                        <h:outputText value="Name"/>
                                        <h:outputText class="form-control" value="#{editCSUserBB.name}"/>
                                        <h:outputText value="Street"/>
                                        <h:outputText class="form-control" value="#{editCSUserBB.street}"/>
                                        <h:outputText value="ZIPcode"/>
                                        <h:outputText class="form-control" value="#{editCSUserBB.zipcode}"/>
                                    </h:panelGrid>
                                </div>
                            </h:form>

                            
                        </div>
                        <div class="col-xs-5 col-sm-4"></div>
                        <div class="col-xs-5 col-md-3">
                        </div>
                        <div class="col-xs13 col-md-9">
                            <p:button value="Edit my Information" icon="ui-icon-gear" outcome="editinfo"/>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
