<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="icon" href="../../resources/img/favicon.ico"/>
        <h:outputStylesheet  name="css/bootstrap.min.css"  />
        <title>Sign Up!</title>
    </h:head>

    <h:body>
        <!-- Fixed navbar -->
        <div class="navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h:link class="navbar-brand" outcome="index">CrowdShopper</h:link>
                </div>
            </div>
        </div>

        
        <div class='container jumbotron'>
            <h:form class="form-signin form-horizontal" role="form">
                <p:messages autoUpdate="true"/> 
                <h2 class="form-signin-heading">You're one step closer to becoming a member!</h2>
                <br></br>
                <div class="form-group">
                    <h:outputLabel value="Name" class="col-sm-2 control-label" />
                    <div class="col-sm-3">
                        <p:inputText id="name" class="form-control" p:placeholder="Enter your name" 
                                     value="#{addCSUserBB.name}">
                        </p:inputText>
                    </div>
                </div>
                <div class="form-group">
                    <h:outputLabel value="Street" class="col-sm-2 control-label" />
                    <div class="col-sm-3">
                        <p:inputText id="adr" class="form-control" p:placeholder="Enter your street address" 
                                     value="#{addCSUserBB.street}" required="true" >
                        </p:inputText>
                    </div>         
                </div>
                <div class="form-group">
                    <h:outputLabel value="Zipcode" class="col-sm-2 control-label" />
                    <div class="col-sm-3">
                        <p:inputText id="zc" class="form-control" p:placeholder="Enter your area zipcode" 
                                     value="#{addCSUserBB.zipcode}" required="true" >
                        </p:inputText>
                    </div>         
                </div>
                <div class="form-group" >
                    <h:outputLabel value="Password" class="col-sm-2 control-label" />
                    <div class="col-sm-3">
                        <p:password id="feedback" class="form-control" value="#{addCSUserBB.password}" feedback="true" 
                                    p:placeholder="Create your password" required="true"/>
                    </div>
                </div>
                <label style='padding: 2em 0em; '>Thank you for becoming a part of CrowdShopper! To complete your registration 
                    click on the Sign Up button below!</label><br />
                <div class="btn-group text-center">
                    <h:commandButton value="Sign Up" action="${addCSUserCtrl.save()}" class="btn btn-success" 
                                     actionListener="#{addCSUserBB.actionListener}">
                    </h:commandButton>
                </div>
            </h:form>
        </div>
    </h:body>
</html>
