<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="title">AddShop</ui:define>
            <ui:define name="content">
                <div class="container">
                    <div class="page-header">
                        <div class="jumbotron">
                            <div class="panel panel-warning">
                                <!-- Default panel contents -->
                                <div class="panel-heading"><h2>New Shop</h2></div>                                                     
                                <h:form class="form-horizontal">
                                    <p:messages autoUpdate="true"/>
                                    <p class="text-info" style="margin:1em 1em">Name your shop and input it's address</p>
                                    <div class="form-group">
                                        <h:outputLabel value="Name" class="col-sm-2 control-label" />
                                        <div class="col-sm-6">
                                            <h:inputHidden value="#"/>
                                            <p:inputText p:placeholder="Enter the shop's name" class="form-control" 
                                                         value="#{addShopBB.name}" >
                                            </p:inputText>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h:outputLabel value="Street" class="col-sm-2 control-label"/>
                                        <div class="col-sm-6">
                                            <p:inputText p:placeholder="Enter the shop's Street address" class="form-control" 
                                                         value="#{addShopBB.street}">
                                            </p:inputText>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h:outputLabel value="Zipcode" class="col-sm-2 control-label"/>
                                        <div class="col-sm-6">
                                            <p:inputText p:placeholder="Enter the shop's area zipcode" class="form-control" value="#{addShopBB.zipcode}">
                                            </p:inputText>
                                        </div>
                                    </div>
                                    <div class="btn-toolbar" style="margin:2em 0em " >

                                        <div class="col-md-7 col-md-offset-1">

                                            <div class="btn-group">
                                                <p:commandButton value="Create Shop" action="${addShopCtrl.save()}" 
                                                                 icon="ui-icon-disk"
                                                                 actionListener="#{addShopBB.actionListener}">
                                                </p:commandButton>
                                            </div>
                                            <div class="btn-group">
                                                <p:commandButton value="Clear" type="reset" icon="ui-icon-closethick"/>
                                            </div>
                                            <div class="btn-group">
                                                <p:commandButton value="Cancel" immediate="true"
                                                                 icon="ui-icon-cancel"
                                                                 action="shopsMain?faces-redirect=true"></p:commandButton>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
