<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="title">#{editShopBB.name}</ui:define>
            <ui:define name="content">
                <div class="container">
                    <div class="page-header">
                        <div class="jumbotron">
                            <div class="panel panel-warning">
                                <!-- Default panel contents -->
                                <div class="panel-heading"><h2>Edit #{editShopBB.name}</h2></div>                                                     
                                <h:form class="form-horizontal">
                                    <p:messages autoUpdate="true"/>
                                    
                                    <div style="margin:2em 0em ">
                                    
                                    <div class="form-group">
                                        <h:outputLabel value="Name" class="col-sm-2 control-label" />
                                        <div class="col-sm-6">
                                            <h:inputHidden value="#{editShopBB.id}"/>
                                            <p:inplace editor="true" emptyLabel="Enter shop's name">
                                                <p:inputText class="form-control" value="#{editShopBB.name}">
                                                </p:inputText>
                                            </p:inplace>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h:outputLabel value="Street" class="col-sm-2 control-label"/>
                                        <div class="col-sm-6">
                                            <p:inplace editor="true" emptyLabel="Enter shop's street address">
                                                <p:inputText class="form-control" value="#{editShopBB.street}">
                                                </p:inputText>
                                            </p:inplace>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h:outputLabel value="ZipCode" class="col-sm-2 control-label"/>
                                        <div class="col-sm-6">
                                            <p:inplace editor="true" emptyLabel="Enter shop's area zipcode">
                                                <p:inputText class="form-control" value="#{editShopBB.zipcode}" >
                                                </p:inputText>
                                            </p:inplace>
                                        </div>
                                    </div>
                                        
                                    </div>

                                    <div class="btn-toolbar" style="margin:2em 0em " >
                                        <div class="col-md-7 col-md-offset-1">
                                            <div class="btn-group" >
                                                <p:commandButton value="Save Changes" action="#{editShopCtrl.update()}" 
                                                                 icon='ui-icon-disk' />
                                            </div>
                                            <div class="btn-group">
                                                <p:commandButton value="Cancel" immediate="true"
                                                                 icon="ui-icon-cancel"
                                                                 action="shopsMain?faces-redirect=true"></p:commandButton>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
