<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="title">Shops</ui:define>
            <ui:define name="content">
                <div class="container">
                    <div class="page-header">
                        <div class="jumbotron">
                            <h:form>
                                <p:dataTable id="shops" var="shop" value="#{shopsMainBB.shops}" editable="true">
                                    <p:column style="width:40px">
                                        <p:rowToggler />  
                                    </p:column>
                                    <p:column headerText="Shop Name"  sortBy="#{shop.name}">
                                        <h:outputText value="#{shop.name}" />
                                    </p:column>
                                    <p:column>
                                        <p:commandButton value="Edit" action="editshop" rendered="#{shopsMainBB.user.id.equals(shop.owner.id)}">
                                            <f:setPropertyActionListener target="#{editShopBB.id}" value="#{shop.id}"/>
                                            <f:setPropertyActionListener target="#{editShopBB.name}" value="#{shop.name}"/>
                                            <f:setPropertyActionListener target="#{editShopBB.street}" value="#{shop.address.street}"/>
                                            <f:setPropertyActionListener target="#{editShopBB.zipcode}" value="#{shop.address.zipcode}"/>
                                        </p:commandButton>
                                    </p:column>
                                    <p:rowExpansion>
                                        <p:panelGrid columns="2">
                                            <f:facet name="header">
                                                Shop Address
                                            </f:facet>
                                            <h:outputText value="#{shop.address.street}" />
                                            <h:outputText value="#{shop.address.zipcode}" />       
                                        </p:panelGrid>
                                    </p:rowExpansion>
                                </p:dataTable>

                            </h:form>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
