<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="title">Add receipt</ui:define>
            <ui:define name="content">
                <script>
                    $(function () {
                        $("[id='form:shops']").autocomplete({
                            source: ${shopsMainBB.shopNames}
                        });
                    });
                </script>
                <script>
                    $(function () {
                        $("[id='form:itemnames']").autocomplete({
                            source: ${recipesMainBB.itemNames}
                        });
                    });
                </script>

                <div class="page-header">
                    <div class="container jumbotron">
                        <div class="panel panel-warning">
                            <div class="panel-heading"><h2>Add Receipt</h2></div>   
                            <p class="col-sm-offset-1 text-info" style="margin:1em">Where did you buy your groceries?</p>
                            <h:form id="form" class="form-horizontal">
                                <p:messages autoUpdate="true"/>

                                <h:panelGrid columns="2" class="table" frame="none">
                                    <p:outputLabel value="Name" class="col-sm-2 control-label"/>
                                    <h:column>
                                        <p:inputText id="shops" value="#{addReceiptBB.shopname}" class="form-control" p:placeholder="Input the name of the shop">                                          
                                        </p:inputText>
                                    </h:column>
                                </h:panelGrid>

                                <h:panelGrid columns="5" class="table">
                                    <h:column>
                                        <p:inputText placeholder="Enter item name" id="itemnames" value="#{addReceiptBB.newItemName}"  />
                                    </h:column>
                                    <h:column>
                                        <p:inputText placeholder="Enter item's amount" value="#{addReceiptBB.newItemAmount}" />
                                    </h:column>
                                    <h:column>
                                        <h:selectOneMenu class="btn-lg" id="console" value="#{addReceiptBB.newItemUnit}">
                                            <f:selectItem itemLabel="Choose the amount's unit" itemDisabled="true" />
                                            <f:selectItem itemValue="kg" />
                                            <f:selectItem itemValue="g" />
                                            <f:selectItem itemValue="mg" />
                                            <f:selectItem itemLabel="No Unit" itemValue=" "/>
                                            <f:selectItem itemValue="L" />
                                            <f:selectItem itemValue="dL" />
                                            <f:selectItem itemValue="mL" />
                                        </h:selectOneMenu>
                                    </h:column>
                                    <h:column>
                                        <p:inputText placeholder="Enter item's price" value="#{addReceiptBB.newItemPrice}" />
                                    </h:column>
                                    <h:column><p:commandButton value="Add Item"
                                                               actionListener="#{addReceiptBB.addItem()}" update="items"/>
                                    </h:column>
                                </h:panelGrid>
                                <p:dataTable id="items" var="item" value="#{addReceiptBB.itemlist}" editable="true">
                                    <p:columnGroup type="header">
                                        <p:row>
                                            <p:column colspan="1" rowspan="1" headerText="Name" />
                                            <p:column colspan="1" rowspan="1" headerText="Amount" />
                                            <p:column colspan="1" rowspan="1" headerText="Unit" />
                                            <p:column colspan="1" rowspan="1" headerText="Price" />
                                            <p:column colspan="1" rowspan="1" />
                                        </p:row>
                                    </p:columnGroup>
                                    <p:column>
                                        <h:outputText value="#{item.name}" />
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{addReceiptBB.getItemAmount(item)}" />
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{addReceiptBB.getItemUnit(item)}" />
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{addReceiptBB.getItemPrice(item)}" />
                                    </p:column>
                                    <p:column>
                                        <p:commandButton 
                                            icon="ui-icon-trash" 
                                            value="Remove" 
                                            actionListener="#{addReceiptBB.removeItem(item)}" update="items" 
                                            />  
                                    </p:column>
                                </p:dataTable>    
                                <div class="btn-toolbar" style="margin:2em 0em " >
                                    <div class="col-md-7 col-md-offset-4">
                                        <div class="btn-group">
                                            <p:commandButton value="Save" action="#{addReceiptCtrl.save()}" 
                                                             icon="ui-icon-disk" actionListener="#">
                                            </p:commandButton>
                                        </div>
                                        <div class="btn-group">
                                            <p:commandButton value="Clear" type="reset" icon="ui-icon-closethick"/>
                                        </div>
                                        <div class="btn-group">
                                            <p:commandButton value="Cancel" immediate="true" icon="ui-icon-cancel"
                                                             action="/partials/recipes/recipesMain?faces-redirect=true"></p:commandButton>
                                        </div>
                                    </div>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
