<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">
    
    <h:head>
        <title>Home</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content">
                <div class="container">
                    <div class="page-header">

                        <div class="jumbotron">
                            <h1>Welcome #{sessionScope.username} to CrowdShopper!</h1>
                            <p class="lead">Start planning for your food!</p>
                        </div>
                        <!-- Example row of columns -->
                        <div class="row text-center">
                            <div class="col-lg-4">
                                <h2>My Information</h2>
                                <p> Here you can change your profile information</p>
                                <p><h:link class="btn btn-warning" outcome="editinfo" role="button">Edit my profile &raquo;</h:link></p>
                            </div>
                            <div class="col-lg-4">
                                <h2>My Lists</h2>
                                <p> Manage your shopping lists </p>
                                <p><h:link class="btn btn-warning" outcome="shoppinglists" role="button">View all lists &raquo;</h:link></p>
                            </div>
                            <div class="col-lg-4">
                                <h2>My recent Recipes</h2>
                                <p>Take a glimpse on your favourite recipes!</p>
                                <p><h:link class="btn btn-warning" outcome="myrecipes" role="button">View all recipes &raquo;</h:link></p>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
