<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/favicon.ico"/>
        <h:outputStylesheet  name="css/bootstrap.min.css"  />
        <title>CrowdShopper</title>
    </h:head>

    <h:body>
        <!-- Fixed navbar -->
        <div class="navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">CrowdShopper</a>
                </div>
            </div>
        </div>
        <div class="container jumbotron">
            <div class="col-xs12 col-md-8">
                <h1>Welcome to CrowdShopper!</h1>
                <p class="lead">Shop better, shop smarter. Planning your shopping it's good for you.</p>
                <p><h:link class="btn btn-lg btn-success" outcome="signup" role="button">Sign Up</h:link></p>
            </div>
            <div class="col-xs6 col-md-4"  style='padding-top: 3em'>
                <h:form id="login-form" class="form-signin  col-md-9">
                    <p:messages autoUpdate="true"/>
                    <h:inputText class="form-control" value="#{authBean.name}" id="name" pt:placeholder="User name" style='margin:1em 0em'/>
                    <h:inputSecret class="form-control" value="#{authBean.password}" id="password" pt:placeholder="Password"/>  
                    <h:commandButton class="btn btn-lg btn-block btn-primary" id="button" value="Login" action="#{authBean.login}" style='margin:1em 0em'/>                         
                </h:form>
            </div>

        </div>
        <div class="container text-center" style='padding-top: 5em; padding-bottom: 5em;'>
            <h2 style='padding-bottom: 2em;'>What is CrowdShopper?</h2>
            <p class="lead">At CrowdShopper we know that a good shopping list can save you 
                a lot of time and money. We take this concept and move it forward, giving you 
                the possibility of creating your own shopping lists based on your favourite 
                recipes. </p>
            <div class='row' style='padding: 2em 0em;'>
                <div class='col-xs-6 col-md-4 col-xs-offset-1'>
                    <img src="#{request.contextPath}/resources/img/dishes.png" alt="Recipes" height="80px" width="100px"></img>
                    <p class="lead">
                        <br/>
                        View recipes as well as sharing your own ones
                    </p>
                </div>
                <div class='col-xs-6 col-md-4 col-md-offset-1'>
                    <img src="#{request.contextPath}/resources/img/bag.png" alt="ShoppingBag" height="80px" width="50px"></img>
                    <p class="lead">
                        <br/>
                        Create your shopping lists adding recipes, then customize 
                        them adding or removing ingredients as you wish.
                    </p>
                </div>

            </div>
            <hr></hr>
                
            <p class="lead">Like the idea? Discover more. Sign up now </p>
            <p><h:link class="btn btn-lg btn-success" outcome="signup" role="button">Sign Up</h:link></p>
        </div>

        <!-- Site footer -->
        <div class="container footer">
            <p>&copy; ABK, The Dudes of the Web 2014</p>
        </div>
    </h:body>
</html>
