<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/favicon.ico"/>
        <h:outputStylesheet  name="css/bootstrap.min.css"  />
        <h:outputScript library="js" name="jquery-1.11.1.min.js"/>
        <h:outputScript library="js" name="bootstrap.min.js"/>
        <h:outputScript library="js" name="jquery-ui.js"/>
        <title><ui:insert name="title">CrowdShopper</ui:insert></title>
    </h:head>

    <h:body>
        <!-- Fixed navbar -->
        <div class="navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h:link outcome='home' class="active navbar-brand">CrowdShopper</h:link>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <h:link outcome="addreceipt">Add Receipt</h:link>
                        </li>

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">Shopping Lists<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><h:link outcome="shoppinglists">My Shopping Lists</h:link></li>
                                <li><h:link outcome="addshoppinglist">Create Shopping List</h:link></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">Recipes<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><h:link outcome="recipes">All Recipes</h:link></li>
                                <li><h:link outcome="myrecipes">My Recipes</h:link></li>
                                <li><h:link outcome="addrecipe">Create Recipe</h:link></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">Shops<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><h:link outcome="shops">All Shops</h:link></li>
                                <li><h:link outcome="addshop">Create Shop</h:link></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Profile<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><h:form><h:commandLink class="list-group-item" value="My Profile" action="shopperinfo"/></h:form></li>
                                <li><h:form><h:commandLink class="list-group-item" value="Edit Info" action="editinfo"/></h:form></li>
                                <li><h:form><p:commandLink class="list-group-item" value="Logout" action="#{authBean.logout()}">
                                            <p:confirm header="Logout Imminent!" message="Are you sure #{sessionScope.username}?" />
                                        </p:commandLink></h:form></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div id="content">
            <ui:insert name="content">Content</ui:insert>
            <h:form>
                <p:confirmDialog global="true" >
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </h:form>
        </div>

        <!-- Site footer -->
        <div class="container footer">
            <p>&copy; ABK, The Dudes of the Web 2014</p>
        </div>
    </h:body>
</html>

